* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galano Grotesque', sans-serif;

}

.main{
    background-color: #f5f5f5;
    
}
.description, nav{
   
    margin-bottom: 20px;
}
.form-config {

    margin: 10px 0 15px;
   
}

label.error{
    margin-bottom: 15px;
    color: #9b9b9b;
}